<%= form_for(@miropost) do |f| %>
  <% if @miropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@miropost.errors.count, "error") %> prohibited this miropost from being saved:</h2>

      <ul>
      <% @miropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
